<!DOCTYPE html>
<html lang="en">
<head>
     
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Simple Todo</title>
    {% block head %}{% endblock %}
</head>
<body>
    <nav>
        <span><a href="{{ url_for('home') }}">Todo</a></span>
        <span><a href="{{ url_for('login') }}">Login</a></span>
        <span><a href="{{ url_for('logout') }}">Logout</a></span>
        <span><a href="{{ url_for('signup') }}">Signup</a></span>
    </nav>
    {% block body %} 
    <div class="container">
        <div class="section1">
            <h1 id="title">TO DO LIST</h1>
            <p>
                <label for="new-task">Add Tasks</label>
                <input id="new-task" type="text">
                <button id="add-Btn">Add</button>
            </p>
        </div>
        <div class="section2">
            <h3>To-do</h3>
            <ul id="incomplete-tasks">

            </ul>
        </div>
        <div class="section3">
            <h3>Completed Tasks</h3>
            <ul id="completed-tasks">

            </ul>
        </div>
        <div class="section4">
            <button id="save">
                <p>Save</p>
            </button>
            <button id="clear">
                <p>Clear</p>
            </button>
        </div>
    </div>
    {% endblock %}
</body>
<script src="{{ url_for('static', filename='script/script.js') }}"></script>
<script src="{{ url_for('static', filename='script/api.js') }}"></script>
<script src="{{ url_for('static', filename='script/authentication.js') }}"></script>
</html>